<div class="panel panel-left panel-reveal">
    
    <div class="views">

      <div class="view view-main">

        <div class="pages">

          <div data-page="index" class="page homepage">
            <div class="page-content">
					<div class="logo"><h1>xm Software</h1><span>MOBILE BANK</span></div>
                       <nav class="main-nav">
                        <ul>
                          <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/blue/user.png" alt="" title="" /><span>Accounts</span></a></li>
                          <li><a href="features.html"><img src="images/icons/blue/settings.png" alt="" title="" /><span>Bill Payment</span></a></li>
                          <li><a href="shop.html"><img src="images/icons/blue/shop.png" alt="" title="" /><span>Credit card</span></a></li>
                          <li><a href="#" data-panel="left" class="open-panel"><img src="images/icons/blue/cart.png" alt="" title="" /><span>Funds Transfer</span><div class="cartitems">3</div></a></li>
                          <li><a href="blog.html"><img src="images/icons/blue/blog.png" alt="" title="" /><span>Demat</span></a></li>
                          <li><a href="photos.html"><img src="images/icons/blue/settings.png" alt="" title="" /><span>Others</span></a></li>
                          
                        </ul>
                      </nav> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    